.header, nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
  place-items: center center; /*align-items & justify-items*/
  gap: 10px;
  grid-auto-flow: column;
}

h1 a {
  text-decoration: none;
  color: hsl(0, 82%, 66%);
  &:hover {
    color: hsl(0, 69%, 71%);
  }
}
